/* card list */
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 15%;
  padding-right: 15%;
}
/* content card */
.content-card {
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 5px;
  padding: 5px;

  display: grid;
  grid-template-areas:
  "title title"
  "author author"
  "content content"
  "vote action"
}

.post-title {
  color: black;
  text-decoration: none;
  font-family: var(--simple);
  grid-area: title;
}

.post-content {
  grid-area: content;
  font-family: var(--simple);
}

.post-author {
  grid-area: author;
  font-family: var(--simple);
}

.post-button {
  grid-area: action;
  /* margin-left: auto; */
  text-align: right;
}

.vote-buttons {
  grid-area: vote;
}

