<<<<<<< HEAD
.NewPost {
    font-family: 'Titillium Web', sans-serif;
    display: grid;
    /* grid-template-columns: 300px auto 300px; */
    grid-template-rows: 100px  100px 100px auto 100px;
}

#post-title {
    /* font-family: 'Titillium Web', sans-serif; */
    /* grid-column: 1/3;
    grid-row: 1/2; */
}

#post-link {
    /* grid-column: 1/3;
    grid-row: 2/3; */
}

form {
    width:60%;
    margin: auto;
}
fieldset {
    background-color: whitesmoke;
}

fieldset:last-child {
    padding-left: 1000px;;
}
