.App-header {
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    height: 60px;
    
    /* -webkit-box-shadow: 0px 11px 5px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 11px 5px 0px rgba(0,0,0,0.12);
    box-shadow: 0px 11px 5px 0px rgba(0,0,0,0.12); */
}

.App-title {
    color: var(--gray);
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    padding: none;
    align-items: center;
}

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding-top: 18px;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}

.fas {
    color: var(--gray);
    size: 30px;
    align-self: center;
}

.App-searchbar {
    flex-basis: 60%;
    text-align: left;
    height: 30px;
    align-self: center;
    border: none;
    background-color: var(--blue); 
    flex-grow: 3;
}

.App-account {
    font-family: 'Titillium Web', sans-serif;
    color: var(--white);
    font-size: 15px;
    align-self: center;
    border: var(--black);
    background-color: var(--gray);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    
}

.App-account_signup {
    margin-left: 600px;
    margin-right: -100px;
}